#pc-wrap {
	.agent-list-page {
		position: relative;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background: #f6f6f6;
		.container {
			display: flex;
			flex-direction: column;
			.filter {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-left: 70%;
				.left {
					display: flex;
					flex-direction: row;
					margin-left: -260%;
                    width: 270%;
					input {
						padding: 22px 10px;
						width: 90%;
						height: 50px;
						border-radius: 10px;
						border: 1px solid #ddddddd3;
						background: #f6f6f6;
						color: #181a20;
						font-family: Poppins, sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
						margin-right: -60px;
						box-sizing: border-box;
					}
				}
				.right {
					display: flex;
					flex-direction: row;
					align-items: center;
					button {
						margin-left: 10px;
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: bold;
						line-height: 26px;
						&:hover {
							background: none;
						}
					}
				}
			}
			.card-wrap {
				position: relative;
				margin-top: 35px;
				margin-left: 50px;
				width: 90%;
				min-height: 300px;
				height: auto;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			.pagination {
				display: flex;
				flex-direction: column;
				align-items: center;
				span {
					margin-top: 20px;
					color: #181a20;
					font-family: $font;
					font-size: 26px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px; /* 185.714% */
				}
			}
		}
	}
}
